---
layout: default
title: Sidney Lima Filho
---

<ul class="posts">
    {% for post in site.posts limit:10 %}
        {% if post.draft == null %}
        <li style="background:url({{ post.image }}) no-repeat center;">
            <a href="{{ post.url }}">
                <span>{{ post.title | xml_escape }}</span>
                <small>
                    {{ post.date | date: "%B %d, %Y" }}
                </small>
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ul>