---
author: Sidney Lima Filho
layout: default
---

<ul class="posts">
    {% for post in site.posts limit:11 %}
         {% unless post.draft %}
        <li style="background:url({{ post.image }}) no-repeat center;">
            <a href="{{ post.url }}">
                <span>{{ post.title | xml_escape }}</span>
                <small>
                    {{ post.date | date: "%B %d, %Y" }}
                </small>

                {% if post.excerpt %}
                    <small class="excerpt">
                        {{ post.excerpt }}
                    </small>
                {% endif %}
            </a>
        </li>
        {% endunless %}
    {% endfor %}
</ul>