/* Color palette */
/* crimson: #DC143C */
/* purple: #800080 */
/*---------------------------------------------------
    LESS Elements 0.7
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* -------------------------------- */

/* Font Definitions                 */

/* -------------------------------- */

@font-face {
  font-family: "HelveticaNeueThCn";
  src: url('../fonts/HelveticaNeueLTCom-ThCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTCom-ThCn.woff') format('woff');
}
@font-face {
  font-family: "HelveticaNeueLtCn";
  src: url('../fonts/HelveticaNeueLTCom-LtCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTCom-LtCn.woff') format('woff');
}
@font-face {
  font-family: "HelveticaNeueBdCn";
  src: url('../fonts/HelveticaNeueLTCom-BdCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTCom-BdCn.woff') format('woff');
}
/* -------------------------------- */

/* Structure                        */

/* -------------------------------- */

header,
banner,
section,
footer {
  width: 100%;
}
overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.88);
  margin: 0 auto;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  z-index: 20;
  padding-top: 80px;
}
overlay div {
  width: 860px;
  height: 510px;
  margin: 0px auto;
}
header {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.76);
  border-bottom: 1px solid white;
  /*.gradient(left top, left bottom, 0.95, rgba(255, 255, 255, 0.75), 1,  rgba(255, 255, 255, 0));*/
  padding: 4px 0px 0px;
  z-index: 10;
  /* cause banner position relative stay hover on the header */
  background-image: url(../img/anchor-bg.png);
  background-repeat: no-repeat;
  background-size: 200%;
}
header .signature {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  -webkit-text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  -moz-text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  width: 230px;
  height: 70px;
  float: left;
  color: transparent;
  background: url(../img/signature-logo.png) no-repeat left center;
  margin-left: 30px;
  margin-bottom: 0px;
}
header #google_translate_element {
  position: absolute;
  top: 0px;
  right: 0px;
}
header menu {
  float: right;
  margin: 0px;
  padding: 18px 0px 0px 0px;
  text-align: center;
  /*width:300px;*/

}
header menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
header menu li {
  padding: 0px 10px;
  margin-bottom: 0px;
  display: inline-block;
  /*border-right:1px solid #d2d2d2;
            height: 70px;*/
  vertical-align: middle;
  /*a:hover, a.selected{
                text-decoration: none;
                border-top: 1px solid @linkColorHover;
            }*/

}
header menu li a {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #696b33;
  text-shadow: 0px 0px 0px transparent;
  -webkit-text-shadow: 0px 0px 0px transparent;
  -moz-text-shadow: 0px 0px 0px transparent;
}
banner {
  position: relative;
  z-index: 1;
  padding-top: 70px;
  display: block;
  height: 330px;
  background: url(../img/banner/nurture_seedling_in_hands_low_level.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  vertical-align: bottom;
}
banner .wrapper {
  height: 100%;
}
banner .excerpt {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.26);
  margin: 10px;
}
banner author {
  text-shadow: 0px 0px 4px black;
  -webkit-text-shadow: 0px 0px 4px black;
  -moz-text-shadow: 0px 0px 4px black;
  font-family: "HelveticaNeueBdCn", "HelveticaNeueW01-77BdCn 692722", Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: white;
  float: right;
  display: block;
}
banner quote {
  text-shadow: 0px 0px 4px black;
  -webkit-text-shadow: 0px 0px 4px black;
  -moz-text-shadow: 0px 0px 4px black;
  color: white;
  font-size: 32px;
  line-height: 30px;
  display: block;
}
banner .arrow-left,
banner .arrow-right {
  position: absolute;
  height: 330px;
  width: 66px;
  display: block;
  overflow: auto;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  filter: alpha(opacity=60);
}
banner .arrow-left:hover,
banner .arrow-right:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
banner .arrow-left {
  background: url(../img/arrow-left.png) no-repeat center;
  right: 0px;
}
banner .arrow-right {
  background: url(../img/arrow-right.png) no-repeat center;
}
section {
  background: url(../img/corner-shadow-top-left.png) no-repeat top left;
  /* overflow:auto; fix bug background-color dont work */

}
section .super {
  background: url(../img/corner-shadow-top-right.png) no-repeat top right;
  /*overflow:auto; fix bug background-color dont work */
  width: 100%;
  padding-top: 24px;
}
section .widget {
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
  width: 260px;
  float: left;
  min-height: 200px;
  margin: 12px 0px 12px 24px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-position 2000ms ease;
  -moz-transition: background-position 2000ms ease;
  -webkit-transition: background-position 2000ms ease;
  -o-transition: background-position 2000ms ease;
  -webkit-transition: all background-position 2000ms;
  -moz-transition: all background-position 2000ms;
  transition: all background-position 2000ms;
}
section .widget:hover {
  background-position: 100% 50%;
}
section .widget::after {
  content: '';
  position: absolute;
  height: 7px;
  bottom: -7px;
  left: 0;
  background: url(../img/shadow2.png) no-repeat top center;
  width: 100%;
}
section .searchbox {
  width: 260px;
  float: left;
  margin: 12px 0px 12px 24px;
}
section .post-wall a {
  display: block;
  text-decoration: none;
  height: 100%;
  background: none;
  transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -webkit-transition: all opacity 400ms;
  -moz-transition: all opacity 400ms;
  transition: all opacity 400ms;
}
section .post-wall a small {
  display: block;
}
section .post-wall a resume {
  display: block;
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  bottom: 0px;
  padding: 5px;
  position: absolute;
  width: 250px;
}
section .post-wall a resume .title {
  min-height: 44px;
}
section .post-wall a resume .excerpt {
  display: none;
}
section .post-wall a:hover .excerpt {
  display: block;
}
section .post-wall .twitter table {
  height: 210px;
}
section .post-wall a.button {
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -18px;
  /*.opacity(0.4);*/

}
section time {
  width: 24px;
  text-align: left;
  float: left;
  font-size: 16px;
  padding-right: 20px;
  margin-top: -2px;
}
section day {
  font-size: 26px;
  height: 24px;
  display: block;
  color: orange;
}
section month {
  font-size: 16px;
  color: #fcd389;
}
section year {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  display: block;
  position: absolute;
  top: 15px;
  font-size: 18px;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
  margin-left: 15px;
  color: #fcd389;
}
section .myinfo .gravatar,
section .myinfo nav {
  margin: 8px;
  text-align: justify;
}
section .myinfo img {
  float: left;
  margin-right: 8px;
}
section .myinfo a.button {
  width: 27px;
  height: 27px;
}
section a.button {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px 100%;
}
section a.twitter {
  background-image: url(../img/twitter.png);
}
section a.facebook {
  background-image: url(../img/facebook.png);
}
section a.linkedin {
  background-image: url(../img/linkedin.png);
}
section a.feed {
  background-image: url(../img/feed.png);
}
section a.slideshare {
  background-image: url(../img/slideshare.png);
}
section a.github {
  background-image: url(../img/github.png);
}
section a.youtube {
  background-image: url(../img/youtube.png);
}
section a.delicious {
  background-image: url(../img/delicious.png);
}
section a.mail {
  background-image: url(../img/mail.png);
}
section nav {
  float: right;
}
section .social-buttons {
  padding: 10px 0px 20px;
}
section .social-buttons a {
  background-image: none;
}
section .nav-next-prev {
  padding: 10px 0px;
}
section .nav-next-prev .next {
  text-align: right;
  padding: 0px 0px 10px;
}
section .nav-next-prev .previous {
  text-align: left;
  padding: 0px 0px 10px;
}
section .comments {
  padding: 20px 0px 0px 0px;
}
section .tag-list div {
  padding: 10px;
  margin: 0px 10px 10px 0px;
}
section .tag-list div:target {
  border-left: 2px solid rgba(255, 66, 66, 0.81);
  margin: 0px 0px 10px;
  padding: 1px 9px 1px 9px;
  /*font-style:italic;*/
  background-color: rgba(255, 245, 0, 0.09);
}
section .tag-list div:target p {
  text-align: justify;
}
section .left-side {
  max-width: 572px;
  float: left;
  overflow: hidden;
}
section .left-side h1 {
  border-bottom: 1px solid black;
  padding-right: 40px;
  position: relative;
}
section .left-side .artigos ul,
section .left-side .palestras ul {
  list-style-type: none;
  padding-left: 90px;
  position: relative;
}
section .left-side .artigos ul li,
section .left-side .palestras ul li {
  padding-right: 10px;
}
section .left-side .artigos ul li time,
section .left-side .palestras ul li time {
  position: absolute;
  left: 0px;
}
section .left-side .artigos ul li small,
section .left-side .palestras ul li small {
  display: block;
  color: #444444;
}
section .left-side .post {
  margin-right: 18px;
}
section .left-side .post time {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 0px;
}
section .left-side .post day,
section .left-side .post month,
section .left-side .post year {
  color: black;
}
section .left-side .post year {
  top: 9px;
  margin-left: -28px;
}
section .right-side {
  width: 260px;
  float: left;
  /*overflow: auto;  fix bug height or boxing dont work */

}
section .right-side ul {
  list-style-type: none;
  padding: 0px;
}
section .right-side ul li {
  padding: 3px 0px 7px 0px;
}
section .right-side ul small {
  display: block;
}
footer {
  clear: both;
  display: block;
  color: white;
  background: url(/themes/default/img/banner/sidney-meditation.jpg);
}
footer a {
  color: yellow;
}
footer .super {
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.76);
}
footer .hosting {
  text-align: center;
  padding: 30px 0px 0px;
}
footer .tag-cloud span {
  padding: 3px;
  display: inline-block;
  /* background-color: @background-dark2;
            border-radius: 4px;*/
  margin: 5px;
}
.wrapper {
  max-width: 870px;
  margin: 0 auto;
  padding: 0px 4px;
  position: relative;
}
/* -------------------------------- */

/* Generics                         */

/* -------------------------------- */

html,
body {
  margin: 0px;
  padding: 0px;
  font: 16px "HelveticaNeueLtCn", Arial, sans-serif;
  color: #333333;
  /*background-color: @background-light;*/

}
small {
  font-size: 80%;
}
::selection {
  background: #ff9900;
  color: white;
}
p {
  text-align: justify;
}
h1,
h2,
h3,
h4,
h5,
h6,
quote {
  font-family: "HelveticaNeueThCn", "HelveticaNeueW01-ThinCn 673383", Arial, sans-serif;
  font-weight: normal;
  text-shadow: 0px 0px 8px transparent;
  -webkit-text-shadow: 0px 0px 8px transparent;
  -moz-text-shadow: 0px 0px 8px transparent;
  color: black;
  clear: both;
}
p,
ul,
li,
ol,
table,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
dl {
  margin: 5px 0px 15px;
}
ul {
  padding-left: 17px;
  list-style-position: outside;
}
blockquote {
  background-image: url(/themes/default/img/big_quote_icon.png);
  background-repeat: no-repeat;
  color: #0070ff;
  background-position: 0px 10px;
  margin: 0px 0px 10px;
  padding: 1px 9px 1px 42px;
  min-height: 45px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h1,
h2 {
  font-family: "HelveticaNeueBdCn", "HelveticaNeueW01-77BdCn 692722", Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.1;
}
h3,
h4,
h5,
h6 {
  font-family: "HelveticaNeueThCn", "HelveticaNeueW01-77BdCn 692722", Helvetica, sans-serif;
  font-weight: normal;
}
a {
  color: #ff9600;
  text-decoration: none;
  transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /*.text-shadow(0px, 0px, 2px, rgba(255, 200, 0, 0.7));*/
  padding-bottom: 2px;
  background: url(../img/anchor-bg.png) no-repeat 0px -2px;
}
a:hover,
a.selected {
  color: red;
  text-decoration: none;
  /*.text-shadow(0px, 0px, 2px, rgba(255, 0, 200, 0.3));*/
  background-position: 0px 100%;
}
b,
strong {
  font-family: "HelveticaNeueBdCn", "HelveticaNeueW01-77BdCn 692722", Helvetica, sans-serif;
  font-weight: normal;
}
code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #333333;
  font-size: 12px;
}
pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
}
dt {
  color: #444444;
  font-weight: 700;
}
th {
  color: #444444;
}
@media print, screen and (max-width: 960px) {
  
}
@media print, screen and (max-width: 720px) {
  
}
@media print, screen and (max-width: 480px) {
  
}
@media print {
  
}
.highlight {
  background: white;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* Comment */

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* Error */

.highlight .k {
  font-weight: bold;
}
/* Keyword */

.highlight .o {
  font-weight: bold;
}
/* Operator */

.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* Comment.Multiline */

.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* Comment.Preproc */

.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* Comment.Single */

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* Comment.Special */

.highlight .gd {
  color: black;
  background-color: #ffdddd;
}
/* Generic.Deleted */

.highlight .gd .x {
  color: black;
  background-color: #ffaaaa;
}
/* Generic.Deleted.Specific */

.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */

.highlight .gr {
  color: #aa0000;
}
/* Generic.Error */

.highlight .gh {
  color: #999999;
}
/* Generic.Heading */

.highlight .gi {
  color: black;
  background-color: #ddffdd;
}
/* Generic.Inserted */

.highlight .gi .x {
  color: black;
  background-color: #aaffaa;
}
/* Generic.Inserted.Specific */

.highlight .go {
  color: #888888;
}
/* Generic.Output */

.highlight .gp {
  color: #555555;
}
/* Generic.Prompt */

.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */

.highlight .gu {
  color: purple;
  font-weight: bold;
}
/* Generic.Subheading */

.highlight .gt {
  color: #aa0000;
}
/* Generic.Traceback */

.highlight .kc {
  font-weight: bold;
}
/* Keyword.Constant */

.highlight .kd {
  font-weight: bold;
}
/* Keyword.Declaration */

.highlight .kn {
  font-weight: bold;
}
/* Keyword.Namespace */

.highlight .kp {
  font-weight: bold;
}
/* Keyword.Pseudo */

.highlight .kr {
  font-weight: bold;
}
/* Keyword.Reserved */

.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* Keyword.Type */

.highlight .m {
  color: #009999;
}
/* Literal.Number */

.highlight .s {
  color: #dd1144;
}
/* Literal.String */

.highlight .na {
  color: teal;
}
/* Name.Attribute */

.highlight .nb {
  color: #0086b3;
}
/* Name.Builtin */

.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* Name.Class */

.highlight .no {
  color: teal;
}
/* Name.Constant */

.highlight .ni {
  color: purple;
}
/* Name.Entity */

.highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* Name.Exception */

.highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* Name.Function */

.highlight .nn {
  color: #555555;
}
/* Name.Namespace */

.highlight .nt {
  color: navy;
}
/* Name.Tag */

.highlight .nv {
  color: teal;
}
/* Name.Variable */

.highlight .ow {
  font-weight: bold;
}
/* Operator.Word */

.highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */

.highlight .mf {
  color: #009999;
}
/* Literal.Number.Float */

.highlight .mh {
  color: #009999;
}
/* Literal.Number.Hex */

.highlight .mi {
  color: #009999;
}
/* Literal.Number.Integer */

.highlight .mo {
  color: #009999;
}
/* Literal.Number.Oct */

.highlight .sb {
  color: #dd1144;
}
/* Literal.String.Backtick */

.highlight .sc {
  color: #dd1144;
}
/* Literal.String.Char */

.highlight .sd {
  color: #dd1144;
}
/* Literal.String.Doc */

.highlight .s2 {
  color: #dd1144;
}
/* Literal.String.Double */

.highlight .se {
  color: #dd1144;
}
/* Literal.String.Escape */

.highlight .sh {
  color: #dd1144;
}
/* Literal.String.Heredoc */

.highlight .si {
  color: #dd1144;
}
/* Literal.String.Interpol */

.highlight .sx {
  color: #dd1144;
}
/* Literal.String.Other */

.highlight .sr {
  color: #009926;
}
/* Literal.String.Regex */

.highlight .s1 {
  color: #dd1144;
}
/* Literal.String.Single */

.highlight .ss {
  color: #990073;
}
/* Literal.String.Symbol */

.highlight .bp {
  color: #999999;
}
/* Name.Builtin.Pseudo */

.highlight .vc {
  color: teal;
}
/* Name.Variable.Class */

.highlight .vg {
  color: teal;
}
/* Name.Variable.Global */

.highlight .vi {
  color: teal;
}
/* Name.Variable.Instance */

.highlight .il {
  color: #009999;
}
/* Literal.Number.Integer.Long */

.type-csharp .highlight .k {
  color: blue;
}
.type-csharp .highlight .kt {
  color: blue;
}
.type-csharp .highlight .nf {
  color: black;
  font-weight: normal;
}
.type-csharp .highlight .nc {
  color: #2b91af;
}
.type-csharp .highlight .nn {
  color: black;
}
.type-csharp .highlight .s {
  color: #a31515;
}
.type-csharp .highlight .sc {
  color: #a31515;
}
/**
 * Default theme
 *
 */

/* Slight reset to make the preview have ample padding. */

.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 0em !important;
  width: auto;
}
.cse .gsc-control-wrapper-cse,
.gsc-control-wrapper-cse {
  width: 100%;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
.cse .gsc-control-cse div,
.gsc-control-cse div {
  position: normal;
}
/* Selector for entire element. */

.cse .gsc-control-cse,
.gsc-control-cse {
  background-color: white;
  border: 1px solid white;
}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  border: block;
}
table.gsc-search-box td.gsc-input {
  padding-right: 0px !important;
}
table.gsc-search-box th,
table.gsc-search-box td {
  padding: 0px !important;
}
input.gsc-input {
  border-color: #d9d9d9;
  font-size: 13px;
  padding: 1px 6px;
}
/* Search button */

.cse input.gsc-search-button,
input.gsc-search-button {
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  color: black;
  padding: 0 8px;
  height: 20px;
  min-width: 54px;
  background-color: #cecece;
  border: 1px solid #666666;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* Inactive tab */

.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  border-bottom: none;
  color: #666666;
  background-color: #e9e9e9;
  border: 1px solid;
  border-color: #e9e9e9;
}
/* Active tab */

.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  background-color: white;
  border: 1px solid;
  border-top: 2px solid;
  border-color: #e9e9e9;
  border-top-color: #ff9900;
  border-bottom: none;
}
/* This is the tab bar bottom border. */

.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid #e9e9e9;
}
/* Inner wrapper for a result */

.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-column,
.gsc-imageResult-classic {
  padding: .25em;
  border: 1px solid;
  border-color: white;
  margin-bottom: 1em;
}
/* Result hover event styling */

.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result.gsc-promotion:hover,
.gsc-results .gsc-imageResult-classic:hover,
.gsc-results .gsc-imageResult-column:hover {
  border: 1px solid;
  border-color: white;
}
/*Promotion Settings*/

/* The entire promo */

.cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion {
  background-color: white;
  border-color: #336699;
}
/* Promotion links */

.cse .gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link,
.cse .gs-promotion a.gs-title:link *,
.gs-promotion a.gs-title:link *,
.cse .gs-promotion .gs-snippet a:link,
.gs-promotion .gs-snippet a:link {
  color: #0000cc;
}
.cse .gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited,
.cse .gs-promotion a.gs-title:visited *,
.gs-promotion a.gs-title:visited *,
.cse .gs-promotion .gs-snippet a:visited,
.gs-promotion .gs-snippet a:visited {
  color: #0000cc;
}
.cse .gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover,
.cse .gs-promotion a.gs-title:hover *,
.gs-promotion a.gs-title:hover *,
.cse .gs-promotion .gs-snippet a:hover,
.gs-promotion .gs-snippet a:hover {
  color: #0000cc;
}
.cse .gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active,
.cse .gs-promotion a.gs-title:active *,
.gs-promotion a.gs-title:active *,
.cse .gs-promotion .gs-snippet a:active,
.gs-promotion .gs-snippet a:active {
  color: #0000cc;
}
/* Promotion snippet */

.cse .gs-promotion .gs-snippet,
.gs-promotion .gs-snippet,
.cse .gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right,
.cse .gs-promotion .gs-title .gs-promotion-title-right *,
.gs-promotion .gs-title .gs-promotion-title-right * {
  color: black;
}
/* Promotion url */

.cse .gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl {
  color: green;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */

.gsc-completion-selected {
  background: #eeeeee;
}
.gsc-completion-container {
  font-family: Arial, sans-serif;
  font-size: 13px;
  background: white;
  border: 1px solid #cccccc;
  border-top-color: #d9d9d9;
  margin-left: 0;
  margin-right: 0;
  /* The top, left, and width are set in JavaScript. */

}
.gsc-completion-title {
  color: #0000cc;
}
.gsc-completion-snippet {
  color: black;
}
/* Full URL */

.gs-webResult div.gs-visibleUrl-short,
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long,
.gs-promotion div.gs-visibleUrl-long {
  display: block;
}
