@base: #f938ab;
@red: #FF0000;

.box-shadow (@x: 0, @y: 0, @blur: 1px, @rgba) {
  
   box-shadow:          @x @y @blur @rgba;
   -webkit-box-shadow:  @x @y @blur @rgba;
   -moz-box-shadow:     @x @y @blur @rgba; 
}

.text-shadow (@x: 0, @y: 0, @blur: 1px, @rgba) {
	
	text-shadow:  			@x @y @blur @rgba; 
	-webkit-text-shadow:  	@x @y @blur @rgba; 
	-moz-text-shadow:  		@x @y @blur @rgba;
}

.transition (@property: all, @speed: 400ms, @method: ease) {
	transition: @property @speed @method;
	-moz-transition: @property @speed @method;
	-webkit-transition: @property @speed @method;
	-o-transition: @property @speed @method;
}



