<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}Sidney Lima Filho</title>
  <link href="/themes/default/css/all.css" rel="stylesheet" />
  <link href="http://feeds.feedburner.com/sidneyfilho/" class="feed" rel="alternate" type="application/rss+xml" title="sidneylimafilho.com.br" />
  <link href="https://plus.google.com/u/0/+SidneyLimaFilho?rel=author" rel="author" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="google-translate-customization" content="6b8d269fcbc1b6d5-0fa0d030d26cbeaf-ga791899a89db06bb-16" />
  <meta name="google-site-verification" content="azOYRvrgD5UC7-Q_zcN9l1qWrj8b6KBqjg-AyBGVQrk" />
  <meta name="author" content="{{page.author}}" />

  <meta itemprop="description" content="{{page.excerpt}}" />
  <meta itemprop="image" content="{{page.image}}" />

  <meta property='og:locale' content='pt_BR' />
  <meta property='og:title' content="{{ page.title }}" />
  <meta property='og:url' content="{{ page.url }}" />
  <meta property='og:site_name' content="SidneyLimaFilho" />
  <meta property='og:image' content="{{page.image}}" />


  <!-- Ao colocar os scripts do google no rodapé, buga a página  -->
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script src="/themes/default/js/jquery/jquery-1.8.0.min.js" type="text/javascript"></script>
  <script src="/themes/default/js/knockout/knockout-2.2.1.js" type="text/javascript"></script>
  <script src="/themes/default/js/linq/linq.js" type="text/javascript"></script>
  <script src="/themes/default/js/moment/moment.min.js" type="text/javascript"></script>
  <script src="/themes/default/js/user.js" type="text/javascript"></script>

  <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js">            
            </script>
        <![endif]-->
  <!--[if IE]>
            <script type="text/javascript" src="http://fast.fonts.com/jsapi/d34e3f76-678a-447e-a024-f6b2e5185713.js">            
            </script>
        <![endif]-->

  <!-- Google Analytics -->
  <script>
  (function(i, s, o, g, r, a, m) {
    i.GoogleAnalyticsObject = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments);
    };
    i[r].l = 1 * new Date();
    a = s.createElement(o);
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-39703309-1', 'sidneylimafilho.com.br');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
  </script>

  <!-- Shareholic -->
  <script type="text/javascript">
  //<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript';
    shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = '2b66555c24216556df1f069ef5d4e19c';
      try {
        Shareaholic.init(site_id);
      } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
  //]]>
  </script>


</head>

<body>
  <overlay>
    <div>
    </div>
  </overlay>
  <header>
    <div class="wrapper">
      <a href="/">
        <h1 class="signature">Sidney Lima Filho</h1>
      </a>
      <menu>
        <ul>
          <li>
            <a href="/quem-e-sidney.html" {%if page.categories contains 'quem-e-sidney'%}class="selected" {%endif%} title="Um pequeno resumo de quem eu sou e porque você deveria acompanhar essa história.">QUEM É SIDNEY</a>
          </li>
          <!--
                    <li>
                        <a href="/life-list.html" {%if page.categories contains 'life-list'%}class="selected" {%endif%} title="Uma lista de coisas que acho imprescindível realizar antes de morrer.">LIFE LIST</a>
                    </li>
                    <li>
                        <a href="/52-semanas.html" {%if page.categories contains '52-Semanas'%}class="selected" {%endif%} title="Um evento por semana durante o ano inteiro">52 SEMANAS</a>
                    </li>
                    -->
          <li>
            <a href="/palestras.html" {%if page.categories contains 'palestras'%}class="selected" {%endif%} title="Eventos em que participei palestrando.">PALESTRAS</a>
          </li>
          <li>
            <a href="/leituras.html" {%if page.categories contains 'leituras'%}class="selected" {%endif%} title="Veja aqui quais livros estão formando minhas idéias e de que fonte minha mente está bebendo.">LEITURAS</a>
          </li>
          <li>
            <a href="/contato.html" {%if page.categories contains 'contato'%}class="selected" {%endif%} title="O canal mais rápido para falar comigo depois do telefone.">CONTATO</a>
          </li>
        </ul>
        <nav class="socialButtons">
          <a target="_blank" class="socialButton twitter" href="http://twitter.com/sidneylimafilho" title="Pensamentos rápidos via Twitter."></a>
          <a target="_blank" class="socialButton facebook" href="http://www.facebook.com/sidneylimafilho" title="Minha vida social no Facebook."></a>
          <a target="_blank" class="socialButton linkedin" href="http://www.linkedin.com/in/sidneylimafilho" title="Minha rede profissional no Linkedin."></a>
          <a target="_blank" class="socialButton feed" href="http://feeds.feedburner.com/sidneyfilho/" title="Assine meus posts com o RSS."></a>
          <a target="_blank" class="socialButton slideshare" href="http://www.slideshare.net/sidneylimafilho" title="Veja meus slides no Slideshare."></a>
          <a target="_blank" class="socialButton github" href="http://www.github.com/sidneylimafilho" title="O que desenvolvo e coloco no Github."></a>
          <a target="_blank" class="socialButton youtube" href="http://www.youtube.com/user/TheSidneyLimaFilho" title="Filmes que assisto via Youtube."></a>
          <a target="_blank" class="socialButton mail" href="https://docs.google.com/spreadsheet/viewform?formkey=dEtLSzNWdXlnanJMdTN6WmtQb2VnMlE6MQ" title="Clique aqui para me enviar uma mensagem."></a>
          <a target="_blank" class="socialButton google" href="https://plus.google.com/u/0/+SidneyLimaFilho?rel=author" title="Minha vida social no G+."></a>
        </nav>
      </menu>
    </div>
    <div id="google_translate_element">
    </div>
  </header>
  <banner {% if page.categories %} class="{{page.categories}}" {% endif %}>
    <!-- <a href="javascript:;" class="arrow-right"></a><a href="javascript:;" class="arrow-left"></a>-->
    <div class="wrapper">
      <div class="excerpt">
        <quote>Desenvolver Software é a arte de cultivar a informação de forma que ela cresça naturalmente através de mãos distintas.
        </quote>
        <author>Aprenda como funciona
        </author>
      </div>
    </div>
  </banner>
  <!-- 
  <section style="    background: none;    background-color: rgb(5, 64, 87);    height: 171px;    padding: 30px 0px;">
    <div class="wrapper" style="    clear: both;">
      <div style="float:left">
        <img src="/themes/default/img/desenvolvedoragil/bookcover-3d.png">
      </div>
      <div style="float:left;color: white;width: 80%;/* margin-left: 10PX; */">
        
        <div id="mc_embed_signup">
          <form action="//sidneylimafilho.us8.list-manage.com/subscribe/post?u=fc65ff2b63c5213579f502cd1&amp;id=03f073a79c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <h2 style="    color: white;">O Desenvolvedor Ágil</h2>
            <span>Um livro que irá mexer com suas crenças, seu ego, suas certezas e mostrará que agilidade é sim coisa de desenvolvedor, quer dizer, só dos bons.</span>
            <br />
            <br />
            <div class="paywithsocial" style="display:none">
              <a href="//twitter.com/intent/tweet?text=Pessoal,%20baixei%20o%20livro%20%22O%20Desenvolvedor%20%C3%81gil%22%20do%20@sidneylimafilho,%20totalmente%20de%20gra%C3%A7a.%20%23show%20%23corram%20-%3E%20http://sidneylimafilho.com.br/" id="btn_1_e73bcaefaac53c7e939de1cf98f980a5" style="padding:10px; background-color:#2e82bc; color:white" target="_blank">
                <span class="text">Baixe com Twitter</span>
              </a>
              <a class="css-button style-1" href="http://www.facebook.com/sharer/sharer.php?u=http://sidneylimafilho.com.br/?src=facebook" id="btn_1_bf79c71f4445cbf252ea644d6a17684c" style="padding:10px; background-color:#005580; color:white" target="_blank">
                <span class="text">Baixe com Facebook</span>
              </a>

            </div>
            <div class="mc-field-group" style="display:block">

              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Digite aqui o seu e-mail onde deseja receber o livro." style="    float: left;    padding: 3px 10px 3px;    display: block;      font-size: 16px;  font-weight: 700;  text-transform: uppercase;    width: 697px;    height: 30px;    font-family: &quot;HelveticaNeueBdCn&quot;,&quot;HelveticaNeueW01-77BdCn 692722&quot;,Helvetica,sans-serif;">
              <input type="submit" value="Baixar Parte 1" name="subscribe" id="mc-embedded-subscribe" class="button" style="    display: block;      font-size: 28px;      font-weight: 700;  text-transform: uppercase;  color: #fffeff;  background-color: #FA5C1F;      padding: 4px 10px 4px;  text-align: center;  text-decoration: none;     text-shadow: 0px 2px 1px #A65600;          border: 0px solid transparent;    position: absolute;    right: 0px;    margin-top: 0px;    font-family: &quot;HelveticaNeueBdCn&quot;,&quot;HelveticaNeueW01-77BdCn 692722&quot;,Helvetica,sans-serif;">
            </div>
            
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_fc65ff2b63c5213579f502cd1_03f073a79c" tabindex="-1" value="">
            </div>
            <div class="clear"></div>
          </form>
        </div>
        <script type="text/javascript">
        $(".paywithsocial").click(function() {
          $(".mc-field-group").show();
          $(this).hide();
        });
        </script>        

      </div>
    </div>
  </section> 
  -->
  <section>
    <div class="super">
      <div class="wrapper">
        <div {% if page.categories %} class="{{page.categories}}" {% endif %}>
          {{ content }}
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="super">
      <div class="wrapper">
        <div class="tag-cloud">
          {% capture tagsAsString %}{% for tag in site.tags %}{{ tag | first }},{% endfor %}{% endcapture %} {% assign tags = tagsAsString | split:"," | sort %} {% for tag in tags %}
          <span>
            <a href='/tags.html#{{tag | downcase | replace:" ","-" | replace:".","" }}' style="font-size:{{site.tags[tag] | size | minus:1 | times:20 | plus:80}}%">{{tag}} ({{site.tags[tag] | size}})</a>
          </span>
          {% endfor %}

          <span>
            <a href="/52-semanas.html">52 Semanas</a>
          </span>
          <span>
            <a href="/life-list.html">Life List</a>
          </span>
        </div>
        <p class="hosting">
          <small>Este site possui todo seu conteúdo aberto e disponível em um
            <a href="http://github.com/sidneylimafilho/sidneylimafilho.github.com" target="_blank">repositório público</a>.
          </small>
          <br/>
          <br/>
          <a href="https://travis-ci.org/sidneylimafilho/sidneylimafilho.github.com">
            <img src='https://travis-ci.org/sidneylimafilho/sidneylimafilho.github.com.png?branch=master' />
          </a>
        </p>
      </div>
    </div>
  </footer>

</body>



<!-- populate social media links -->
<script type="text/javascript">
var q = User.getRandomQuote();
var $banner = $("banner");
$banner.find(".excerpt author").text(q.author);
$banner.find(".excerpt quote").text(q.text);
$banner.css({
  backgroundImage: "url(/themes/default/img/banner/" + q.banner + ")",
  backgroundSize: "cover"
});
</script>

<!-- Share buttons in posts  
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>-->



</html>
