<!DOCTYPE html>
<html>
    
    <head>
        <title>Sidney Lima Filho {% if page.title %}- {{ page.title }}{% endif %}
        </title>
        <link href="/themes/default/css/all.css" rel="stylesheet" />
        <link href="/rss.xml" class="feed" rel="alternate" type="application/rss+xml" title="sidneylimafilho.com.br"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta name="google-translate-customization" content="6b8d269fcbc1b6d5-0fa0d030d26cbeaf-ga791899a89db06bb-16"
        />
    </head>
    
    <body>
        <header>
            <div class="wrapper">
                <a href="/"><h1 class="signature">Sidney Lima Filho</h1></a>
                <menu>
                    <ul>
                        <li>
                            <a href="/quem-e-sidney" {%if page.categories contains 'quem-e-sidney'%}class="selected" {%endif%}
                            title="Um pequeno resumo de quem eu sou e porque você deveria acompanhar essa história.">QUEM É SIDNEY</a>
                        </li>
                        <li>
                            <a href="/leituras" {%if page.categories contains 'leituras'%}class="selected" {%endif%} title="Veja aqui quais livros estão formando minhas idéias e de que fonte minha mente está bebendo.">LEITURAS</a>
                        </li>
                        <li>
                            <a href="/artigos" {%if page.categories contains 'artigos'%}class="selected" {%endif%} title="Os sites que já publicaram conteúdo de minha autoria.">ARTIGOS</a>
                        </li>
                        <li>
                            <a href="/palestras" {%if page.categories contains 'palestras'%}class="selected" {%endif%}
                            title="Eventos em que participei palestrando.">PALESTRAS</a>
                        </li>
                        <li>
                            <a href="/life-list" {%if page.categories contains 'life-list'%}class="selected" {%endif%}
                            title="Uma lista de coisas que acho imprescindível realizar antes de morrer.">LIFE LIST</a>
                        </li>
                        <li>
                            <a href="/contato" {%if page.categories contains 'contato'%}class="selected" {%endif%} title="O canal mais rápido para falar comigo depois do telefone.">CONTATO</a>
                        </li>
                    </ul>
                </menu>
            </div>
            <div id="google_translate_element">
            </div>
        </header>
        <banner {% if page.categories %} class="{{page.categories}}" {% endif %}>
            <!-- <a href="javascript:;" class="arrow-right"></a>   <a href="javascript:;" class="arrow-left"></a>   -->
            <div class="wrapper">
                <div class="excerpt">
                    <h1>Aprenda como funciona
                    </h1>
                    <h2>Desenvolver Software é a arte de cultivar a informação de forma que ela cresça naturalmente
                        através de mãos distintas.
                    </h2>
                </div>
            </div>
        </banner>
        <section>
            <div class="super">
                <div class="wrapper">
                    <div class="content left-side">
                        <article>
                            <div {% if page.categories %} class="{{page.categories}}" {% endif %}>{{ content }}
                            </div>
                        </article>
                    </div>
                    <div class="right-side">
                        <div class="widget">
                            <span class="gravatar">
                                <img src="http://1.gravatar.com/avatar/13c12ed8bb09f191876ae217829b15ed?size=96" />Eu sou Sidney Lima Filho e aqui você saberá sobre quem eu sou e minhas ideias. Abaixo estão
                                as redes sociais que participo e onde você pode me encontrar.
                            </span>
                            <nav>
                                <a href="javascript:;" target="_blank" class="button twitter" title="Pensamentos rápidos via Twitter."></a>
                                <a href="javascript:;" target="_blank" class="button facebook" title="Minha vida social no Facebook."></a>
                                <a href="javascript:;" target="_blank" class="button linkedin" title="Minha rede profissional no Linkedin."></a>
                                <a href="javascript:;" target="_blank" class="button feed" title="Assine meus posts com o RSS."></a>
                            </nav>
                            <nav>
                                <a href="javascript:;" target="_blank" class="button slideshare" title="Veja meus slides no Slideshare."></a>
                                <a href="javascript:;" target="_blank" class="button github" title="O que desenvolvo e coloco no Github."></a>
                                <a href="javascript:;" target="_blank" class="button youtube" title="Filmes que assisto via Youtube."></a>
                                <a href="javascript:;" target="_blank" class="button mail" title="Clique aqui para me enviar uma mensagem."></a>
                            </nav>
                        </div>
                        <div class="widget bookmarks">{% include _layouts/default-bookmarks.htm %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="wrapper">
                <p>
                    <small>Hosted on GitHub Pages &mdash; Theme by
                        <a href="https://github.com/orderedlist">orderedlist</a>
                    </small>
                </p>
            </div>
        </footer>
    </body>

</html>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'pt',
            includedLanguages: 'en',
            layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT
        }, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
</script>
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js">    
    </script>
<![endif]-->
<!--[if IE]>
    <script type="text/javascript" src="http://fast.fonts.com/jsapi/d34e3f76-678a-447e-a024-f6b2e5185713.js">    
    </script>
<![endif]-->
<script src="http://code.jquery.com/jquery-1.8.0.min.js" type="text/javascript">
</script>
<script src="http://www.google.com/jsapi" type="text/javascript">
</script>
<script src="tags.js" type="text/javascript">
</script>
<script type="text/javascript">
        var metaTags = document.getElementsByTagName('meta');
        var i;
        if (navigator.userAgent.match(/iPhone/i)) {
            for (i = 0; i < metaTags.length; i++) {
                if (metaTags[i].name == "viewport") {
                    metaTags[i].content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
                }
            }
            document.addEventListener("gesturestart", gestureStart, false);
        }

        function gestureStart() {
            for (i = 0; i < metaTags.length; i++) {
                if (metaTags[i].name == "viewport") {
                    metaTags[i].content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
                }
            }
        }

        google.load("feeds", "1");

        // FEEDS            
        google.setOnLoadCallback(function feeds() {

            var user = {
                name: "sidneylimafilho",
                mail: "https://docs.google.com/spreadsheet/viewform?formkey=dEtLSzNWdXlnanJMdTN6WmtQb2VnMlE6MQ",
                twitter: "sidneylimafilho",
                facebook: "sidneylimafilho",
                linkedin: "sidneylimafilho",
                youtube: "TheSidneyLimaFilho",
                github: "sidneylimafilho",
                slideshare: "sidneylimafilho",
                feed: "/rss.xml",
                delicious: {
                    name: "sidneylimafilho",
                    tag: "Favorite"
                }
            };

            // ICONES            
            $('.twitter').attr('href', 'http://twitter.com/' + user.twitter);
            $('.facebook').attr('href', 'http://facebook.com/' + user.facebook);
            $('.linkedin').attr('href', 'http://br.linkedin.com/in/' + user.linkedin);
            $('.feed').attr('href', user.feed);

            $('.youtube').attr('href', 'http://www.youtube.com/user/' + user.youtube);
            $('.slideshare').attr('href', 'http://slideshare.net/' + user.slideshare);
            $('.github').attr('href', 'http://github.com/' + user.github);
            $('.mail').attr('href', user.mail);




/*
            // TWITTER
            $.getJSON("http://api.twitter.com/1/statuses/user_timeline.json?screen_name=" + user.twitter + "&callback=?", function(json) {
                document.title = json[0].user.description + " - " + json[0].user.name;
                $('#nome').html(json[0].user.name);
                $('#site').html(json[0].user.url);
                $('#site').attr('href', json[0].user.url);
                $('#descricao').html(json[0].user.description);
                $.each(json, function(i, tweet) {
                    if (!tweet.text.match("@") && $("#twitter i").html() == "Carregando...") {
                        $('#twitter i').html('"' + tweet.text + '"');
                        $('#twitter a').html("@" + tweet.user.screen_name);
                        $('#twitter a').attr("href", "http://twitter.com/" + user.twitter);
                    }
                });
            });

            // YOUTUBE
            $.getJSON("http://gdata.youtube.com/feeds/api/users/" + user.youtube + "/uploads?v=2&alt=jsonc", function(json) {
                $("#video").attr("src", json.data.items[0].content[5]);
            });

            // GITHUB
            $.getJSON("http://github.com/api/v2/json/repos/show/" + user.github + "?callback=?", function(json) {
                $('#projetos > .place').html("");
                $.each(json.repositories.reverse(), function(i, repository) {
                    $('#projetos > .place').append('<a class="repository" href="http://github.com/' + repository.owner + '/' + repository.name + '" target="_blank"><h3>' + repository.name + '</h3>' + repository.description.substring(0, 40) + '</a>');
                });
                $('#projetos').append('<a class="more" href="http://github.com/' + user.github + '" target="_blank">+ projetos</a>');
            });

            // DELICIOUS
            $.getJSON("http://feeds.delicious.com/v2/json/" + user.delicious.self + "/" + user.delicious.tag + "?callback=?", function(json) {
                $('#sites > .place').html("");
                $.each(json, function(i, site) {
                    $('#sites > .place').append('<a class="site" href="' + site.u + '" target="_blank">' + site.d.substring(0, 40) + '</a>');
                });
                $('#sites').append('<a class="more" href="http://www.delicious.com/' + user.delicious.self + '/byme" target="_blank">+ sites</a>');
            });

            // APRESENTACOES
            var apresentacoes = new google.feeds.Feed("http://www.slideshare.net/rss/user/" + user.slideshare);
            apresentacoes.load(function(result) {
                $('#apresentacoes > .place').html("");
                $.each(result.feed.entries, function(i, slide) {
                    $('#apresentacoes > .place').append('<a href="' + slide.link + '" target="_blank">' + slide.title + '</a>');
                });
                $('#apresentacoes').append('<a class="more" href="http://www.slideshare.net/' + user.slideshare + '" target="_blank">+ apresentações</a>')
            });
            */
        });
</script>
<script type="text/html" id="tagsTemplate">
< h2 class = "post_title" > {. {
        page.title
    }
} < /h2>





<ul>











 <li class="archive_list">





    <time style="color:#666;font-size:11px;" datetime='{.{post.date | date: "%Y-%m-%d"}}'>{.{post.date | date: "%m/ % d / % y "}}</time>





    <a class="
archive_list_article_link " href='{.{post.url}}'>{.{post.title}}</a>





    <p class="
summary ">





       <span>{.{post.summary}}</span>





       <ul class="
tag_list ">





          {.% for tag in post.tags %}





          <li class="
inline archive_list ">





          <a class="
tag_list_link " href=" / tag / {. {
        tag
    }
}
">{.{ tag }}</a>





          </li>





          {.%endfor%}





       </ul>





    </p>





 </li>











</ul>





</script>
