--- 
layout: default 
---
<article>
    <h1>
        {{ page.title }}
        <!--
        <time>
            <day>{{ page.date | date: "%d" }}</day>
            <month>{{ page.date | date: "%b" | upcase }}</month>
            <year>{{ page.date | date: "%Y" }}</year>
        </time>
        -->
    </h1>

    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='6890667'></div>

    <div class="content">

        {{ content }}
          
        {% assign count = 1 %}
        {% for tag in page.tags %}             
            {% for post in site.tags[tag] %}                
                {% if post.published and post.title != page.title and count < 3 %} 
                    
                    {% if count == 2 %} 
                        e também do post <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                        {% assign count = 3 %} que complementam os temas.
                    {% endif %} 

                    {% if count == 1 %} 
                        <h2>Você pode gostar também ...</h2> 
                        Se você se interessa por estes assuntos, então você pode gostar também do post <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>   
                        {% assign count = 2 %}                     
                    {% endif %}

                {% endif %} 

                {% if count == 3 %}
                    <p>Espero que goste.</p>
                {% endif %} 
            {% endfor %}             
        {% endfor %} 


    </div>
   
   <div class="nav-next-prev">
        
        <!-- <h2>Outros artigos interessantes ...</h2>
        <div class="previous">
            {% if page.previous.url %}
            <a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
            &laquo;&nbsp;
            {% endif %}
        </div>
        <div class="next">
            {% if page.next.url %}
            &nbsp;&raquo;
            <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>
            {% endif %}
        </div> -->

        <div class="tags">
            {% if page.tags %} 
            Conheça artigos com os mesmos assuntos deste:  {% for tag in page.tags %} <strong><a href="/tags.html#{{ tag | downcase | replace:" ","-" | replace:".","" }}">{{ tag }}</a></strong> 
            {% unless forloop.last %}, {% endunless %} 
            {% endfor %} 
            {% endif %}
        </div>
    </div>

    <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='6890667'></div>

</article>




{% unless page.no_comments %}
<div class="comments">
    <h2>O que você achou?</h2>
    <a name="respond"></a>
    <!-- For backwards compatibility -->
    <div id="disqus_thread"></div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'sidneyfilho'; // required: replace example with your forum shortname

             /* * * DON'T EDIT BELOW THIS LINE * * */
             (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
    </script>
    <noscript>
        Please enable JavaScript to view the
        <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">
        comments powered by
        <span class="logo-disqus">Disqus</span>
    </a>
</div>
{% endunless %}

